// Maps
$colors: (
    grey: #e0e0e0,
    white: #fff,
    shadow: #424242,
    black: #000,
    purple: #ba68c8,
    blue: #2196f3,
    text: #212121
);

$breakpoints: (
    small: 767px,
    medium: 992px,
    large: 1200px
);

// Variables
$height_nav: 4em;
$max_main_width: 78em;