@import 'config';

@mixin flex($direction: row, $wrap: wrap, $justify: space-around, $align: center) {
    display: flex;
    justify-content: $justify;
    flex-direction: $direction;
    flex-wrap: $wrap;
    align-items: $align;
}

@mixin width($width: 100%, $height: auto) {
    height: $height;
    width: $width;
}

@mixin respond-to($breakpoint) { 
    @if map-has-key($breakpoints, $breakpoint) {
      @media screen and (min-width: #{map-get($breakpoints, $breakpoint)}) {
        @content;
      }
    }
  
    @else {
      @warn "Unfortunately, no value could be retrieved from `#{$breakpoint}`. "
          + "Please make sure it is defined in `$breakpoints` map.";
    }
  }