// Maps
$colors: (
    grey: #e0e0e0,
    white: #fff,
    shadow: #424242,
    black: #000,
    purple: #ba68c8,
    blue: #2196f3,
    text: #212121
);

// Variables
$height_nav: 4em;

// Resets
* {
    box-sizing: border-box;
}

body,
ul,
ol,
html,
figure,
nav {
    margin: 0;
    padding: 0;
}

body {
    background-color: map-get($colors, grey);
    font-family: 'Nunito', sans-serif;
}

